ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 2em;
}

h2 {
    font-size: small;
}

main {
    display: flex;
}

aside {
    width: 35%;
    background-color: rgb(170, 169, 169);
}